@font-face {
  font-family: "Myriad Pro Light";
  src: url("../fonts/MyriadPro-Light.eot");
  src: url("../fonts/MyriadPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Light.woff") format("woff"), url("../fonts/MyriadPro-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro Regular";
  src: url("../fonts/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro Bold";
  src: url("../fonts/MyriadPro-Bold.eot");
  src: url("../fonts/MyriadPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Bold.woff") format("woff"), url("../fonts/MyriadPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Myriad Pro Regular', sans-serif;
  color: #3f0e0e;
}

.header {
  position: relative;
  max-height: 100vh;
  overflow: hidden;
}

.header__background {
  position: relative;
  padding-bottom: 56.25%;
  z-index: 1;
}

.header__background::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.header__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.header__content {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.header__title {
  margin: 0;
  padding: 10px 0;
  font-size: 4vw;
  text-align: center;
  font-family: 'Myriad Pro Bold', sans-serif;
  color: #ececec;
  border: 1px solid red;
}

.header .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 20px;
  border: 2px solid yellow;
}

.header__prod {
  width: 50%;
  height: 70%;
  border: 1px solid green;
  background-image: url(../assets/prod.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}

.header__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 70%;
  border: 1px solid blue;
}

.header__list {
  border: 3px solid green;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__list-item {
  padding: 10px;
  font-size: 2vw;
  color: #ececec;
  border: 1px solid red;
}

.header__list-item::before {
  content: '- ';
}

.comp {
  padding: 50px 0;
  border: 1px solid blue;
}

.comp__wrap {
  border: 1px solid green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 70%;
}

.comp__list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 11%;
}

.comp__list-left {
  border: 1px solid red;
}

.comp__prod {
  width: 25%;
}

.comp__list-right {
  border: 1px solid red;
}

.comp__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0%;
}

.comp__img-wrap {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  height: 0;
  overflow: hidden;
  border: 1px solid black;
}

.comp__img {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid green;
}

.comp__title {
  font-size: 2vw;
  text-align: center;
  font-family: 'Myriad Pro Light', sans-serif;
}
/*# sourceMappingURL=style.css.map */