.footer
  padding: 20px
  background: linear-gradient(#E0EAFC, #CFDEF3)
  &__prod
    text-align: center
    font-size: 5vw
  &__old-value
    display: block
    font-size: 5vw
    +light
    text-align: center
  &__current-value
    font-size: 10vw
    +bold
    text-align: center
    color: $red-color
    animation: price 1s ease-in-out infinite
  &__wrap
    padding: 20px 0
    display: flex
    justify-content: center
  &__img
    width: 25%
  @media screen and (max-width: 768px)
    &__img
      width: 80px
      height: 140px

+keyframes(price)
  0%
    transform: rotate(0deg)
  25%
    transform: rotate(20deg)
  50%
    transform: rotate(0deg)
  75%
    transform: rotate(-20deg)
  100%
    transform: rotate(0deg)

.timer
  &__title
    font-size: 4vw
    text-align: center
    +bold
  &__wrap
    display: flex
    justify-content: center
  &__item
    display: flex
    flex-direction: column
    align-items: center
  &__days
    color: $red-color
  &__hours
    color: $red-color
  &__minutes
    color: $red-color
  &__seconds
    color: $red-color
  &__separator
    font-size: 10vw
    color: $red-color
    +light
  &__val
    font-size: 10vw
    +light
  &__text
    font-size: 2vw
    +light

.form
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  width: 40%
  &__input-wrap
    position: relative
  &__label
    margin-bottom: 10px
    font-size: 4vw
  &__label-name
    position: absolute
    height: 50%
    overflow: auto
    margin: auto
    top: 0
    left: 10%
    bottom: 0
    right: 0
    font-size: 2vw
    +light
    pointer-events: none
    &::after
      content: 'Ваше имя'
  &__label-phone
    position: absolute
    height: 50%
    overflow: auto
    margin: auto
    top: 0
    left: 10%
    bottom: 0
    right: 0
    font-size: 2vw
    +light
    pointer-events: none
    &::after
      content: 'Ваш телефон'
  &__input
    margin-bottom: 20px
    padding: 30px 20px
    width: 100%
    font-size: 2.5vw
    text-align: center
    outline: none
    border: 3px solid $general-color
    &::-webkit-outer-spin-button
      display: none
      -webkit-appearance: none
    &::-webkit-inner-spin-button
      display: none
      -webkit-appearance: none
    &:focus
      + .form__label-name
        font-size: 1.3vw
        color: red
        height: auto
        top: 5px
        left: 40%
        &::after
          content: 'Пример: Джавахарлал Неру'
    &:valid
      + .form__label-name
        font-size: 1.3vw
        color: red
        height: auto
        top: 5px
        left: 40%
        &::after
          content: 'Пример: Джавахарлал Неру'
    &:focus
      + .form__label-phone
        font-size: 1.3vw
        color: red
        height: auto
        top: 5px
        left: 50%
        &::after
          content: 'Пример: 88005553535'
    &:valid
      + .form__label-phone
        font-size: 1.3vw
        color: red
        height: auto
        top: 5px
        left: 50%
        &::after
          content: 'Пример: 88005553535'
  &__btn
    display: block
    width: 50%
    padding: 20px
    font-size: 2vw
    background-color: #04b932
    +bold
    color: #fff
    cursor: pointer
    border: none
  @media screen and (max-width: 768px)
    width: 60%
    &__input
      width: 100%
      padding: 10px 10px
      border: 1px solid $general-color
      font-size: 4vw
      &:focus
        + .form__label-name
          font-size: 2vw
          width: 60%
          top: 5px
          left: 45%
      &:valid
        + .form__label-name
          font-size: 2vw
          width: 60%
          top: 5px
          left: 45%
      &:focus
        + .form__label-phone
          font-size: 2vw
          width: 70%
          top: 5px
          left: 50%
      &:valid
        + .form__label-phone
          font-size: 2vw
          width: 70%
          top: 5px
          left: 50%
    &__btn
      padding: 10px 10px
      width: auto
      font-size: 3vw