.info
  padding: 20px
  border: 1px solid red
  &__content
    display: flex
    justify-content: space-around
    border: 1px solid green
  &__img
    width: 40%
    height: auto
    border: 1px solid blue
  &__text
    width: 40%
    +regular
    font-size: 3vw
    border: 1px solid yellow
  &__list
    display: flex
  &__item
    font-size: 1.5vw
    text-align: center
    color: $general-color