.slider
  display: flex
  padding: 40px 0
  background: linear-gradient(#859398, #d3dee2)
  &__wrap
    margin: 0 auto
    width: 30%
    overflow: hidden
  &__line
    display: flex
  &__item
    text-align: center
  &__img
    height: auto
  &__name
    padding: 10px
    +light
    font-size: 2vw
  &__review
    +regular
    font-size: 2vw
  &__arrow
    display: flex
    align-items: center
    justify-content: center
    vertical-align: middle
    width: 40%
    font-size: 4vw
    cursor: pointer
    transition: 0.1s
    border-radius: 100%
    user-select: none
    &:hover
      color: $text-color
